<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Database;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>